.accordion{
    text-align: -webkit-center;
}

.accrodion__one,
 .accrodion__two,
  .accrodion__three {
    padding: 20px 0px;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 12%);
    margin: 30px 0;
}

.accordion__hidden__one,
 .accordion__hidden__two,
  .accordion__hidden__three {
    display: none;
}

.accordion__hidden__one p,
 .accordion__hidden__two p,
  .accordion__hidden__three p{
    font-size: 18px;
    color: #646464;
    margin-top: 20px;
}

.accordion__display__one,
 .accordion__display__two,
  .accordion__display__three {
    cursor: pointer;
    position: relative;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}